* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #333 !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 80px;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.stopwatch-buttons button {
  margin: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
}

.stopwatch-buttons button:first-child {
  background-color: rgb(109, 245, 109)!important;
}

.stopwatch-buttons button:last-child {
  background-color: rgb(243, 77, 77)!important;
}